@page
@model RazorPageEmpManagement.Pages.EmployeeAdminPage.IndexModel

<p>
    <a asp-page="Create">Create New</a>
</p>

<!-- Go to department table button -->
<form method="post" asp-page-handler="Department">
    <button type="submit" class="btn btn-primary">Department table</button>
</form>
<!--separator-->
<br />
<br />
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Employee[0].FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Employee[0].LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Employee[0].Username)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Employee[0].Password)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Employee[0].Department)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Employee[0].Role)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Employee[0].Team)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Employee) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Username)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Password)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Department.DepartmentName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Role.RoleName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Team.TeamName)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.EmployeeId">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.EmployeeId">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.EmployeeId">Delete</a>
            </td>
        </tr>
}

    <form method="post">
		<div class="form-group">
			<input type="submit" value="Logout" class="btn btn-primary" />
		</div>
    </form>
    </tbody>
</table>
